{% load thumb %}
{% load catalog_tags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>{{ shop_data.title }}</title>
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/shop_default/styles.css" />
	</head>
	<body>
        <div class="userpannel">
            {% if user.username %} 
            Добро пожаловать, {{ user.username }}
            {% else %} 
            <form method="post" action="">
                {% csrf_token %}
                {{ login.as_p }}
                <br />
                <input type="submit" value="Login" name="submit" alt="Login" />
            </form>
            {% endif %}
        </div>
        <div class="cart_box">
            {% cart_box request %}
        </div>
        <div class="main">
		{% block content %}
        <h1>{{ shop_data.title }}</h1>
        <h2>{{ shop_data.description }}</h2>
        <a href="http://localhost:8000">Главная</a>
    	    <p>Категории:</p>
        		<ul> {% for category in categories %}
            		<li> <a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
             		{% endfor %}
        		</ul>
        	{% if featured_products %}
            <p>Специалньное предложение:</p>
                {% for product, image in featured_products %}
                <ul>
                    <li>{{ product }} <img alt="product image" title="{{ product }}" src="{{ image|thumbnail}}"></li>
                </ul>
                {% endfor %}
        	{% else %}
            <p>На данный момент нет специальных предложений.</p>
        	{% endif %}
		{% endblock %}
        </div>
        <script type="text/javascript" src="{{ MEDIA_URL }}jquery-1.10.1.min.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}scripts.js"></script>
	</body>
</html>