{% extends "shop/base.html" %}
{% load catalog_tags %}

{% block content %}
        <h1>{{ shop_data.title }}</h1>
        <h2>{{ category.name }}</h2>
        <h3>{{ test }}</h3>
        <p>Категории:</p>
        <ul> {% for category in categories %}
            <li> <a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
             {% endfor %}
        </ul>
        {% if products %}
        <p>Продукты в данной категории:</p>
        <ul>
            {% for product in products%}
            <li><a href="{{ product.get_absolute_url }}">{{ product.name }} -- {{ product.price }} USD</a></li>
            {% endfor %}
        </ul>
        {% else %}
            <p>В данной категории пока нет продуктов.</p>
        {% endif %}
{% endblock %}