<!DOCTYPE html>
<html>
<head>
    <title>{{ shop_data.title }}</title>
</head>
    <body>
        <h1>{{ shop_data.title }}</h1>
        <p>{{ shop_data.description }}</p>
        <p>Категории:</p>
        <ul> {% for category in categories %}
            <li> <a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
             {% endfor %}
        </ul>
        {% if featured_products %}
            <p>Специалньное предложение:</p>
                {% for product, image in featured_products %}
                <ul>
                    <li>{{ product }} <img alt="product image" title="{{ product }}" src="http://localhost:8000/static/{{ image|cut:"/home/martyn/Documents/djcode/mall/shop/" }}"></li>
                </ul>
                {% endfor %}
        {% else %}
            <p>На данный момент нет специальных предложений.</p>
        {% endif %}
    </body>
</html>