{% extends "shop/base.html" %}
{% load thumb %}
{% block content %}
        <h1>{{ product_data.name }}</h1>
        {% if images %}
            {% for image in images %}
                <img alt="product image" title="{{ product_data.name }}" src="{{ image.image|thumbnail:'150x150' }}">
            {% endfor %}
        {% endif %}
    <p>Цена: {{ product_data.price }} {{ shop_data.currency }}</p>
    <form method="post" action="" class="cart">{% csrf_token %}
		<p><label for="id_quantity">Количество:</label> 
            {{ form.quantity }}
            {{ form.product_slug }}
		<br />
		<input type="submit" value="Купить" name="submit" alt="Add To Cart" />
	</form>
    <p>Категории:</p>
        <ul> {% for category in categories %}
            <li> <a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
             {% endfor %}
        </ul>
{% endblock %}
</html>