{% extends 'shop/category.html' %}
{% load thumb %}
{% load catalog_filters %}


{% block content %}
	<h1>Ваша Корзина</h1>
	{% if cart_item_count == 0 %}
	<p>Ваша корзина пуста</p>
	{% else %}
	<p>В Вашей корзине следующие товары:</p>
	<table id="cart_summary">
		<thead>
			<tr>
				<th class="cart_img"></th>
				<th class="cart_desc">Товар</th>
				<th class="cart_price_qty">Цена</th>
				<th class="cart_price_qty">Кол-во</th>
				<th ></th>
				<th ></th>
				<th ></th>
				<th class="cart_total">Итого</th>
			</tr>
		</thead>
		<tbody>
		{% for image, name, price, quantity, total, id, product_url in summary %}
			<tr>
				<td><img src="{{ image|thumbnail:'75x75'}}" alt="product+image"></td>
				<td><a href="{{product_url}}">{{ name }}</a></td>
				<td>{{ price }}</td>
				<td>{{ quantity }} шт</td>
				<td class="right">
				<form method="post" action="." class="cart">{% csrf_token %}
				<label for="quantity">Кол-во:</label>
				<input type="text" name="quantity" value="{{ quantity }}" id="quantity"
				size="2" class="quantity" maxlength="5" />
				<input type="hidden" name="item_id" value="{{ id }}" />
				</td>
				<td>
				<input type="submit" name="submit" value="Изменить" />
				</form>
				</td>
				<td>
				<form method="post" action="." class="cart">{% csrf_token %}
				<input type="hidden" name="item_id" value="{{ id }}" />
				<input type="submit" name="submit" value="-"/>
				</form>
				</td>
				<td>{{ total }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	<p>Всего: {{ cart_item_count }} наименований. Ha {{ cart_value|currency }}.</p>
	<p><a href="/cart/checkout">Оформить заказ</a></p>
	<p><a href="http://{{ url }}">Продолжить покупки</a></p>
	{% endif %}
{% endblock %}