{% load pluralru %}
{% with cart_item_count as cart_count and cart_value as value %}
	<a href="{% url show_cart %}">
		В корзине
		<br />
		{% if cart_count > 0 %}
		<span>{{ cart_count }} Товар{{ cart_count|pluralru }} на {{ value }} </span>
		{% else %}
		<span>Нихера нет</span>
		{% endif %}
	</a>
{% endwith %}

