*{
	 /*Resetting the default styles of the page */
	margin:5px;
	padding:5px;
}

body{
	 /*Setting default text color, background and a font stack */
	font-size:0.825em;
	color:#666;
	background-color:#fff;
	font-family:Arial, Helvetica, sans-serif;
}

.userpannel{
	margin: 40px;
	float: right;
}

.cart_box, .cart_box a, .cart_box a:visited{
	position: fixed;
	top: 40px;
	right: 10px;
	color: grey;
	text-decoration: none;
}

.cart_box span{
	color: Darkgrey;
	font-size: 0.65em;
}

table#cart_summary{
	width:100%;
	border-collapse:collapse;
	color:#616161;
}

th,td{
	text-align:left;
	padding:3px;
}
td a, td a:checked{
	text-decoration: none;
	color:#616161;
}

thead th{
	color:White;
	background-color:#616161;
}
tfoot th{
	height:40px;
}
table#cart_summary th.right, td.right{
	text-align:right;
}
