*{
	/* Resetting the default styles of the page */
	margin:0;
	padding:0;
}

body{
	/* Setting default text color, background and a font stack */
	font-size:0.825em;
	color:#666;
	background-color:#fff;
	font-family:Arial, Helvetica, sans-serif;
}
	
.sponsorListHolder{
	margin-bottom:30px;
}

.sponsor{
	width:180px;
	height:180px;
	float:left;
	margin:4px;
	
	/* Giving the sponsor div a relative positioning: */
	position:relative;
	cursor:pointer;
}

.sponsorFlip{
	/*  The sponsor div will be positioned absolutely with respect
		to its parent .sponsor div and fill it in entirely */

	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	border:1px solid #ddd;	
	background:url("img/background.jpg") no-repeat center center #f9f9f9;
}

.sponsorFlip:hover{
	border:1px solid #999;
	
	/* CSS3 inset shadow: */
	-moz-box-shadow:0 0 30px #999 inset;
	-webkit-box-shadow:0 0 30px #999 inset;
	box-shadow:0 0 30px #999 inset;
}

.sponsorFlip img{
	/* Centering the logo image in the middle of the sponsorFlip div */
	
	position:absolute;
	top:50%;
	left:50%;
	margin:-70px 0 0 -70px;
}

.sponsorData{
	/* Hiding the .sponsorData div */
	display:none;
}

.sponsorDescription{
	color: #ddd;
	font-size:11px;
	padding:50px 10px 20px 20px;
	font-style:italic;
}

.sponsorURL{
	height: 32px;
	text-align: center;
	font-family: 'Neucha', cursive;
	font-size:1em;
	font-weight:bold;
	/*padding-left:20px;*/
	
}
.sponsorURL a, .sponsorURL a:visited {
	color: #89DCFF;
	text-decoration: none;
	font-weight: bold;
}

 .sponsorURL a:hover {
 	color: #89DCFF;
 	font-size:1.1em;
	text-decoration: none;
	text-shadow: 0px 0px 1px #fff;
 }

.clear{
	/* This class clears the floats */
	clear:both;
}


/* The styles below are only necessary for the styling of the demo page: */

#main{
	position:relative;
	margin:0 auto;
	width:980px;
}

h1, h1 a, h1 a:active, h1 a:hover, h1 a:visited{
	/*font-family: 'Nothing You Could Do', cursive;*/
	font-family: 'Dancing Script', cursive;
	font-size: 40px;
	padding: 15px;
	text-align:center;
	text-shadow:0 1px 1px white;
	text-decoration: none;
	color: #666;
	/*margin-bottom:30px;*/
	background:url("img/page_bg.gif") repeat-x bottom #f8f8f8;
}

/*>>>>>>>>>>>>>>>>>*/
h1 span{
	display: block;
	font-size: 10px;
	font-family: 'Neucha', cursive;
	color: #b8b8b8;	
}
/*<<<<<<<<<<<<<<<<<*/

/*Making all mentiones of Marty look like logo*/

span.logo {
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
	color: #666;
}

/*h1,*/
h2{
	font-family:"Myriad Pro",Arial,Helvetica,sans-serif;	
}

h2{
	font-size:14px;
	font-weight:normal;
	text-align:center;
	position: relative;
	/*position:absolute;*/
	/*right:40px;*/
	/*top:40px;*/
}

/*Content holder in marty:inner tpl*/

.content {
	position: relative;	
	margin: 0 auto;
	width: 980px;
}

/*Top nav*/
#topnav {
	height: 2em;
	background: url("img/page_bg.gif") repeat-x bottom #f8f8f8;
	margin-bottom: 20px;
}

ul.topnav{
	height: inherit;
	width: inherit;
	list-style: none;
	text-align: center;
}

ul.topnav li{
	display: inline-block;
	margin-top: .5em;
	margin-right: 10px;
}

.topnav a, .topnav a:visited{
	color: #b8b8b8;
	text-shadow: 0px 0px 5px #e8e8e8;
	padding: 0 5px;
	text-decoration: none;
}

.topnav a:hover, .topnav a:active{
	color: #fff;
	text-decoration: none;
	background-color: #dadada;
	-moz-box-shadow:0 0 5px #999;
	-webkit-box-shadow:0 0 5px #999;
	box-shadow:0 0 5px #999;	
} 

.note{
	font-size:12px;
	font-style:italic;
	padding-bottom:20px;
	text-align:center;
}

a, a:visited {
	color:#0196e3;
	text-decoration:none;
	outline:none;
}

a:hover{
	text-decoration:underline;
}

a img{
	border:none;
}

/*Styling for filtering script*/

.selecterBtns {
position: relative;
height: 2em;
width:980px;
margin: 0 auto 15px;
clear: both;
}

/*>>>>>>>>>>>>>>>>>*/
.selecterBtns span{
	float: left;
	position: relative;
	padding-top: 6px;
	margin-right: 15px;
	margin-left: 4px;
	height: 2em;
	font-weight: bold;
}
/*<<<<<<<<<<<<<<<<<*/

.selecterBtns a {
-moz-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
/*background:#EDEDED;*/
/*color:#111;*/
background-color: #fff;
color: #0196E3;
display:block;
float:left;
font-size:11px;
line-height:28px;
/*margin-right:4px;*/
outline:none;
padding:0 9px;
text-decoration:none;
}

.selecterBtns .active,
.selecterBtns a:hover {
/*background:#111;*/
/*color:#fff;*/
background:#EDEDED;
color:#111;
}

.sponsorListHolder li {
width:188px;
height:188px;
overflow:hidden;
}

ul.nolist,
ul.nolist li {
display:block;
list-style:none;
padding:0;
margin:0;
}

ul.nolist li {
float:left;
margin:0 5px 5px 0;	
}

